---
layout: default
description: probus production project release
image: https://i.postimg.cc/WpGym7DV/image.png
---

<h3> List Project </h3>
<div>
    {% for page in site.pages %}
        {% if page.type == "page" %}
            <!-- <a class="button" href="{{ site.url }}{{ page.permalink }}"> {{ page.title }}</a> -->
            <div class="gallery">
                <a href="{{ site.url }}{{ page.permalink }}">
                    <img  src="{{ page.image }}" alt="gambar icon">
                </a>
                <div class="desc">{{ page.title }}</div>
            </div>
        {% endif %}
    {% endfor %}
</div>

