<!DOCTYPE html>
<html style="height: 100%;">
  {% include head.html %}
  <body style="height: 100%;">
    <div style="display: flex;flex-direction: column; height: 100%;">
      <header class="row" style="background-color: #3e404a; padding: 1px;">
        <a style="background-color: white; padding: 8px;" class="column-75" href="{{site.url}}"><img src="https://www.probussystem.com/site/templates/images/logo-horizontal.png"></a>
        <nav class="column" >
          {% for page in site.pages %}
            {% if page.type == "menu" %}
                <a class="button button-clear" style="color: white;" href="/probus_production{{ page.permalink }}"> {{ page.title }}</a>
            {% endif %}     
          {% endfor %}
        </nav>
      </header>
      <main class="container" style="flex: 1; background-color: ghostwhite; padding: 16px;">
        <h3>{{ page.description | post.description }}</h3>
        <div>{{ content }}</div>
      </main>
      <footer style="background-color: #3e404a; color: white; padding: 16px;">
        {% include footer.html %}
      </footer>
    </div>
    </ul>
  </body>
</html>