<!DOCTYPE html>
<html style="height: 100%;">
  <head>
    {% include head.html %}
  </head>
  <body style="height: 100%;">
    <div style="display: flex; flex-direction: column; height: 100%;">
      <header style="display: flex; flex-direction: row; flex-wrap: wrap;">
        <div style="flex: 1;">
          <a href="{{site.url}}">
            <img style="height: 50px;" src="https://www.probussystem.com/site/templates/images/logo-horizontal.png">
          </a>
        </div>
        <nav style="display: flex; flex-direction: column-reverse;">
          <div>
            {% for page in site.pages %}
              {% if page.type == "menu" %}
                  <a class="button" href="{{ site.url }}{{ page.permalink }}"> {{ page.title }}</a>
              {% endif %}     
            {% endfor %}
          </div>
        </nav>
      </header>
      <main class="container" style="flex: 1; padding: 8px;" >
        <h3>{{ page.description | post.description }}</h3>
        <div>{{ content }}</div>
      </main>
      <footer 
        style="padding: 24px; 
          background-color: #131C28; 
          color: white; 
          display: flex; 
          flex-wrap: wrap; 
          flex-direction: row; 
          margin: 0; 
          justify-content: center;
        ">
        {% include footer.html %}
      </footer>
    </div>
    </ul>
  </body>
</html>