<!DOCTYPE html>
<html style="height: 100%;">
  <head>
    {% include head.html %}
  </head>
  <body style="height: 100%;">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v11.0&appId=1150331995115046&autoLogAppEvents=1" nonce="YenDxtbg"></script>
    <div style="display: flex; flex-direction: column; height: 100%;">
      <header style="display: flex; flex-direction: row; flex-wrap: wrap;">
        <div style="flex: 1;">
          <a href="{{site.url}}" style="max-width: 720px; min-width: 320px; padding: 4px;display:table;clear:both">
            <img style="width: 100%;" src="https://i.postimg.cc/WpGym7DV/image.png">
          </a>
        </div>
        <nav style="display: flex; flex-direction: column-reverse;">
          <div>
            {% for page in site.pages %}
              {% if page.type == "menu" %}
                  <a class="button" href="{{ site.url }}{{ page.permalink }}"> {{ page.title }}</a>
              {% endif %}     
            {% endfor %}
          </div>
        </nav>
      </header>
      <hr>
      <main class="container" style="flex: 1; padding: 8px;" >
        <h5>{{ page.description | post.description }}</h5>
        <div>{{ content }}</div>
      </main>
      <div class="fb-comments" data-href="{{ site.url }}{{ page.permalink | post.permalink}}" data-width="" data-numposts="20"></div>
      <footer 
        style="padding: 24px; 
          background-color: #131C28; 
          color: white; 
          display: flex; 
          flex-wrap: wrap; 
          flex-direction: row; 
          margin: 0; 
          justify-content: center;
        ">
        {% include footer.html %}
      </footer>
    </div>
    </ul>
  </body>
</html>